img{
    width : 200px;
    height: 200px;
}
body{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
}
.container{
    margin: 0%;
    padding: 0;
    display: flex;
}
.box1{
flex: 1;
border: 1px black solid;
padding: 10px;
order: 2


}
.box2{
    flex: 2; 
    border: 1px black solid;
    padding: 10px;
order:1

}
.box3{
    flex: 1;
    border: 1px black solid;
    padding: 10px;

    order:3

}